.todo {
    display: flex;
    flex-direction: row;
    border: solid 2px #a200ff;
    color: #a200ff;
    padding: 0.5rem 1.2rem;
    justify-content: space-between;
    align-items: center;
    font-size: 1.3rem;
    border-radius: 1rem;
    transition: 0.3s;
}

.todo svg {
    color: #a200ff;
    transition: 0.3s;
}

.todo:hover {
    background-color: #a200ff;
    color: white;
}

.todo:hover svg {
    color: white;
}

.done {
    background-color: #a200ff;
    color: white;
}

.done svg {
    color: white;
}